*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.heading{
    height: 700px;
    width: 100%;
    background-image: url('../image/heading.jpg');
    background-size: cover;
    
}
.back{
    height: 700px;
    width: 100%;
    background-color: rgba(1, 8, 15, 0.5);
}
.header{
    height: 80px;
    width: 100%;
    background-color: rgba(240, 240, 240,0.4);
    position: fixed;
    z-index: 2;
}
.hh1{
    display: inline;
    color: white;
    line-height: 80px;
    margin-right: 200px;
}
.ha{
    text-decoration: none;
    color: white;
    line-height: 80px;
    margin: 0px 15px;
}
.hs{
    color: white;
    position: absolute;
    top: 250px;
    left: 150px;
}
.we{
    color: white;
    position: absolute;
    top: 280px;
    left: 150px;
    font-size: 40px;
    
}
.ex{
    color: white;
    position: absolute;
    top: 340px;
    left: 150px;
    font-size: 15px;
}
.hb{
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 7px 15px;
    position: absolute;
    top: 420px;
    left: 150px;
    border-radius: 50px;
}
.box{
    height: 210px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 600px;
    left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wraps;
    justify-content: center;
    align-items: center;
}
.item2, .item3, .item4{
    height: 200px;
    width: 300px;
    background-color: rgb(118, 26, 26);
    border-radius: 10px;
    margin: 0px 40px; 
}
.item1, .item5{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    
}
.lt, .gt{
    font-size: 21px;
    line-height: 35px;
}



.icon{
    height: 70px;
    margin-top: 20px;
}
.bs{
    color: white;
    font-size: 20px;
}
.bt{
    color: white;
    margin-top: 11px;
    font-size: 12px;
}

.main{
    height: 950px;
    width: 100%;
    background-color: black;
    position: relative;
 
}
.um{
    position: absolute;
    top: 250px;
    color: white;
    left: 37%;
}
.mec{
    height: 280px;
    width: 300px;
    background-color: white;
    position: absolute;
    top: 350px;
   left: 50px;
   border-radius: 20px;
   
}
.mec h1{
    font-size: 17px;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 40px;
}
.mec p{
    font-size: 13px;
    margin-left: 40px;
    margin-bottom: 10px;
}
.mec input{
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    margin-top: 25px;
}
.m1, .m2, .m3, .m4{
    height: 250px;
    width: 300px;
    background-color: white;
    position: absolute;
    
    
    border-radius: 15px;
}
.m1{
    top: 350px;
    left: 450px;
}
.m1 img, .m2 img, .m3 img, .m4 img{
    width: 300px;
    height: 155px ;

}
.m1 h1, .m2 h1, .m3 h1, .m4 h1{
    font-size: 15px;
    margin-left: 25px;
    margin-top: 12px;
}
.m1 p, .m2 p, .m3 p, .m4 p{
    font-size: 12px;
    margin-left: 25px;
    margin-top: 12px;
}
.m2{
    top: 350px;
    left: 850px;
}
.m3{
    top: 630px;
    left: 450px;
}
.m4{
    top: 630px;
    left: 850px;
}
.main2{
    height: 600px;
    width: 100%;
    border: solid;
    background-image: url(../image/img3.jpg);
    background-size: cover;
}

.blur{
    height: 600px;
    width: 100%;
    background-color: rgba(1, 8, 15, 0.7);
    position: relative;
}
.ab{
    width: 500px;
    height: 220px;
    background-color: rgba(254, 254, 255, 0.5);
    position: absolute;
    top: 50px;
    left: 100px;
}
.ab2{
    width: 500px;
    height: 220px;
    background-color: rgba(254, 254, 255, 0.5);
    position: absolute;
    top: 310px;
    left: 100px;
}
.ab h1, .ab2 h1{
    color: white;
    margin-top: 25px;
    margin-left: 35px;
    font-size: 18px;
}
.ab p, .ab2 p{
    font-size: 16px;
    margin-left: 35px;
    margin-top: 30px;
    margin-right: 30px;
    color: white;
}
.ab input{
    background-color: rgb(135, 40, 40);
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    margin-top: 25px;
    margin-left: 35px;
}
.ab2 input{
    background-color: orangered;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    margin-top: 25px;
    margin-left: 35px;
}
.htm{
    background-color: white;
    height: 480px;
    width: 500px;
    position: absolute;
    top: 50px;
    left: 700px;
    border-radius: 25px;
}
.htm h1{
    color: chocolate;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 40px;
}
.htm ul{
    list-style: none;
    margin-top: 40px;
    margin-left: 40px;
}
.htm li{
    margin: 14px 0px;
}
.main3{
    height: 500px;
    width: 100%;
    background-color: black;
    position: relative;
}
.main3 h1 {
    position: relative;
    color: white;
    top: 100px;
    left: 100px;
    font-size: 21px;
}

.box2{
    height: 210px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wraps;
    justify-content: center;
    align-items: center;
}
.item7, .item8, .item9, .item11{
    height: 300px;
    width: 280px;
    background-color:white;
    margin: 0px 10px; 
}
.item6, .item10{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    
}
.lt2, .gt2{
    font-size: 21px;
    line-height: 35px;
}



.icon2{
    height: 180px;
    width: 100%;
}

.bt2{
    color: black;
    margin-top: 11px;
    font-size: 15px;
}
span{
    margin-top: 20px;
    margin-left: 5px;
    color: goldenrod;
}
