h1{
    color:white;
    font-size: 50px;
    display: inline-block;
    margin: 20px 600px;
    position: relative;

}

h1::after
{
    content: ' ';
    position: absolute;
    border-bottom: 2px solid red;
}
body
{
    background-color: black;
}
