*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ex
{
    color: red;
    font-size: 25px;
}
.ans
{
    font-size: 22px;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    color: rgb(14, 14, 63);
}
.Q{
    color: maroon;
    text-align: center;
    margin-top: 25px;
}
.home
{
    font-size: 50px;
    text-align: center;
    line-height: 600px;
}
.footer
{
    width: 100%;
    height: 50px;
    background-color: black;
}
.hul{
    text-align: center;
}
.himg{
    height: 50px;
    
}
.lh1{
    margin-left: 10px;
    margin-top: 10px;
}
.header{
    height: 55px;
    width: 100%;
    background-color: white;
}
.nul{
    height: 50px;
    width: auto;
    background: #000;
    text-align: center;
    line-height: 50px;
}
.nli{
    display: inline-block;
    list-style: none;
    margin: 3px;
    padding: 0px 50px;
}
.na{
    color: #0ff;
    text-decoration: none;
    transition: 1s;
    font-size: 20px;
    padding: 10px;
}
.na:hover{
    background-color: #0ff;
    color: black;
}
.l1{
    margin-top: 20px;
}
.lul li{
    margin-left: 15px;
    list-style: none;
    padding: 3px;
}
.lul li:hover{
    background-color: rgb(105, 225, 255);
}
.lul li:active{
    background-color: rgb(21, 90, 90);
    color: white;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
