*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.head{
    height: 600px;
    width: 100%;
    background-color: rgb(14, 56, 92);
    position: relative;
}
.header{
    height: 70px;
    width: 100%;
    display: flex;
    color: white;
}   
.header h1{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 100px;
    color: cyan;
}
.header h2{
    font-size: 20px;
    margin-top: 25px;
    margin-left: 250px;
    color: cyan;
}
.header h3{
    font-size: 20px;
    margin-top: 25px;
    margin-left: 70px;
}
.header button{
    border: solid white;
    background-color: transparent;
    color: white;
    margin-left: 130px;
    height: 40px;
    width: 120px;
    margin-top: 20px;
    border-radius: 15px;
}
.header button:hover{
    background-color: red;
    cursor:pointer;
}
.header h3:hover{
    color: cyan;
}
.head img{
    position: absolute;
    top: 130px;
    left: 580px;
}
.hh2{
    color: white;
    position: absolute;
    font-size: 40px;
    top: 200px;
    left: 100px;
}
.head p{
    color: white;
    position: absolute;
    top: 260px;
    left: 100px;
    line-height: 30px;
}
.wm{
    position: absolute;
    left: 100px;
    top: 400px;
    background-color: skyblue;
    border-radius: 50px;
    border: none;
    height: 40px;
    width: 150px;
    font-size: 16px;
}
.wm:hover{
    background-color: rgb(68, 11, 62);
    color: white;
}
.qa{
    height: 600px;
    width: 100%;
    background-color: skyblue;
    text-align: center;
    position: relative;
}
.qua{
    color: rgb(14, 56, 92);
    font-size: 22px;
    
}

.footer{
    width: 100%;
    height: 50px;
    background-color: rgb(14, 56, 92);
}
