body
{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
div
{
    margin-top: 120px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
h2{
    margin-left: 450px;
   
    color: rgb(125, 37, 71);
}
ul{
    margin: 40px 350px;
    font-size: 18px;
    color: rgb(140, 71, 26);
    font-weight: 600;
}
p{
    margin-left: 10px;
    color: red;
}
ul.Example
{
    margin: auto;
    list-style: disc;
}
