body
{

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.name {

    width: 55%;
}
hr
{
    color: white;
}
h2
{
    color: cyan;
    text-align: center;
}
p {
  
}