body
{
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1{
    text-align: center;
}

hr
{
    color: white;
}
h2
{
    color: cyan;
    text-align: center;
}
ul {
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 21px;
}



p{
 color: yellow;
}
img
{
    width: 1290px;
    color: white;
}